<header>
  <h1>Check Split Check</h1>
</header>

<h1>Editing Restaurant</h1>

<%= render 'form_edit', restaurant: @restaurant %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
